$blackColor: #100f0f;
$ColorNeutral: #fff;
$colorGray: rgb(189, 187, 187);
$firstColor: rgb(229,9,20);
$secondColor:rgba(229,9,20, .4);
$thirdColor: #1b1a1a;
$fourthColor: rgba(0,0,0,.8);
$fifthColor: #2b2a2a;