@use 'variables';
@use 'hero';
@use 'serieInformation';
@use 'carousel';
@use 'video';
@use 'description';
@use 'shows';
@use 'available_devices';
@use 'faq';
@use 'footer';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: variables.$blackColor;  
  font-family: "Protest Riot", sans-serif;
}